# Copy of fast-tests config
common:fast-tests --build_tests_only=true
common:fast-tests --build_tag_filters=-large,-enormous,-integration-test
common:fast-tests --test_tag_filters=-large,-enormous,-integration-test
