common --action_env=RULES_PYTHON_BZLMOD_DEBUG=1
common --lockfile_mode=off
test --test_output=errors
# Windows requires these for multi-python support:
build --enable_runfiles
common:bazel7.x --incompatible_python_disallow_native_rules
# Default to testing the in-build local toolchain for this test package
build --//tests/integration/local_toolchains:py=local_in_build
common --announce_rc
